body{
    padding:50px 100px;
}

h1{
    text-align: center;
}

#container{
    text-align: center;
    background-color: indigo;
    padding: 50px;
    color:white;
}

.input-div{
    display: inline-block;
}

.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    width:auto;
}

label{
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#equal-sign{
    font-size: 22px;
}
